<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/sign-up.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <title>Mega Rocket GYM</title>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="menu">
          <img src="../../assets/Icono-8.png" alt="menu-icon" />
        </div>
        <div class="logo-1">
          <img src="../../assets/Logo.png" alt="Logo MegaRocket" />
        </div>
        <div class="branding">
          <img src="../../assets/MR.png" alt="Logo MegaRocket 2" />
        </div>
      </div>
    </header>
    <main>
    <div class="container-main">
    <h1 class="main-title">Sing Up</h1>
    <form action="">
      <div class="back-button">
        <a class="back-button" href="../views/index.html"
          ><img src="../../assets/back-button.png" alt=""
        /></a>
      </div>
      <h2 class="title">Register</h2>
      <div class="form-container">
      <div class="label-container">
        <label for="name"></label>
        <input type="text" id="name" name="name" placeholder="Name">
        <p id="name-error" class="error-message"></p>
      </div>
      <div class="label-container">
        <label for="name"></label>
        <input type="text" id="lastname" name="lastname" placeholder="Last-Name">
        <p id="lastname-error" class="error-message"></p>
      </div>
      <div class="label-container">
        <label for="I.D."></label>
        <input id="ID" type="text" name="ID" placeholder="I.D." />
        <p id="id-error" class="id-error"></p>
      </div>
      <div class="label-container">
        <label for="Date-of-birth"></label>
        <input id="date" type="date" name="Date" placeholder="Date-of-birth-(dd/mm/aaaa)" />
        <p id="date-error" class="date-error"></p>
      </div>
      <div class="label-container">
        <label for="Phone-number"></label>
        <input id="phone" type="text" name="Phone" placeholder="Phone-number" />
        <p id="phone-error" class="phone-error"></p>
      </div>
      <div class="label-container">
        <label for="Address"></label>
        <input id="address" type="text" name="Address" placeholder="Address" />
        <p id="address-error" class="error-message"></p>
      </div>
      <div class="label-container">
        <label for="City"></label>
        <input id="City" type="text" name="City" placeholder="City" />
        <p id="city-error" class="error-message"></p>
      </div>
      <div class="label-container">
        <label for="Zip"></label>
        <input id="zip" type="text" name="Zip" placeholder="Zip" />
        <p id="zip-error" class="error-message"></p>
      </div>
      <div class="label-container">
        <label for="email"></label>
        <input id="email" type="text" name="email" placeholder="Email" />
        <p id="email-error" class="error-message"></p>
      </div>
      <div class="label-container">
        <label for="password"></label>
        <input id="password" type="password" name="password" placeholder="Password" />
        <p id="password-error" class="error-message"></p>
      </div>
      <div class="label-container">
        <label for="Repeat"></label>
        <input id="Repeat" type="password" name="Repeat" placeholder="Repeat-password" />
        <p id="repeat-error" class="error-message"></p>
      </div>
    </div>
      <button id="submit">Sign Up</button>
      <div id="myModal" class="modal">
        <div class="modal-content">
          <div class="modal-header">
            <h4 id="modal-tittle"></h4>
            <span class="close" id="exit">&times;</span>
          </div>
          <p id="modal-text"></p>
          <button id="exit">Accept</button>
        </div>
      </div>
    </form>
    </main>
    <footer>
    <div>
      <a href="#"><img src="../../assets/Icono-tw.png" alt="Twitter" /></a>
      <a href="#"><img src="../../assets/Icono-ig.png" alt="Instagram" /></a>
      <a href="#"><img src="../../assets/Icono-fb.png" alt="Facebook" /></a>
    </div>
    <p>Copyright &copy; 2023 MegaRocket SA. All rights reserved.</p>
    </footer>
   <script src="../js/sign-up.js"></script>
  </body>
</html>



