*{
    font-family: "Roboto", sans-serif;
 }


           /*Header*/


 
header {
    position: fixed;
    background-color: #373867;
    width: 3000px;
    height: 100px;
}
  
  .menu {
    display: inline-block;
    margin: 0 20px; 
    margin-left: 200px;
  }
  
  .logo-1 {
    display: inline-block;
    margin-right: 5px; 
    margin-left: 0;
  }
  
  .logo-2 {
    display: inline-block;
    margin-left: 30px;
  }
  
  .menu img {
    position: relative;
    top: -20px; 
    left: 10px;
  }
  
  .logo-1 img {
    position: relative;
    top: 10px;
    left: 10px; 
  }
  
  .logo-2 img {
    position: relative;
    top: 8px;
    left: 0 
  }



            /*Sidebar*/

  aside {
    position: fixed;
    top: 0;
    background-color: #373867;
    width: 200px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .img-aside {
    margin-top: 30px;
    width: 50px;
    height: 50px;
  }

  aside li {
    width: 150px;
    border-bottom: 2px solid #C4C4C4;
  }

  .list {
    margin-top: 30px;
  }

  
  .list li a {
    display: block;
    font-size: 25px;
    font-weight: 700;
    color: #C4C4C4;
    padding: 10px;
  }

  
  li.contact > a {
    color: #49A37B;
  }

 .contact .contact-subtitle {
    color: #49A37B;
    display: block;
    font-size: 15px;
    font-weight: 700;
    padding: 10px;
    margin-left: -20px;
  }

  #navmain .contact ul li {
    display: block;
    color: #C4C4C4;
    font-size: 10px;
    font-weight: 700;
    padding: 1px;
    margin-top: 5px;
    margin-left: -10px;
  }

  #navmain .contact ul li img {
    width: 15px;
    height: 15px;
  }




              /*Seccion-1*/

  .main-title {
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: bold;
    color: #2F3058;
}

  .section-1 {
    position: relative;
    top: 150px;
    left: 250px;
    border-bottom: 2px solid #D9D9D9;
    margin-bottom: -50px;
    padding-bottom: 50px
  }
 
.section-1 h2 {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #2F3058;
}
.section-1 p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.75);
}


.image-container {
    float: right;
    margin-top: -300px;
    margin-right: 20px;
  }



         /*Seccion-2*/

.section-2 {
    margin-left: 60px;
    border-bottom: 2px solid #D9D9D9;
}

.section-2 h2 {
    margin-top: 250px;
    margin-bottom: 100px;
    margin-left: 200px;
    font-size: 30px;
    font-weight: bold;
    color: #2F3058;
}


.section-2-boxes {
    display: inline-block;
    width: 350px;
    height: 250px;
    margin-right: -150px;
    margin-left: 250px;

}

.section-2-boxes img {
    display: inline-block;
    width: 100px;
    padding-right: 10px;
}


.section-2-boxes div {
    display: inline-block;
    width: 100px;
    margin-left: 30px;
    
}

.section-2-boxes p {
    position: relative;
    width: 300px;
    bottom: 40px;
    font-size: 15px;
    color: #979797;
}

.section-2-boxes h3 {
    margin-bottom: 45px;
    font-size: 18px;
    color: #373867;
}

          /*Section 3*/

.contact-us {
  height: 900px;
  width: 1000px;
}

.section-3 {
  position: relative;
  height: 800px;
  margin-top: 80px;
  margin-left: 190px;
  border-bottom: 1px solid #D9D9D9;
  
}

.section-3 h2 {
  position: absolute;
  top: 20px;
  left: 50px;
  font-size: 30px;
  font-weight: 700;
  color: #373867;
}

.section-3-container {
  position: absolute;
  top: 80px;
  margin-top: 20px;
  margin-left: 40px;
}

.label-container {
  display: inline-block;
    width: 300px;
    height: 30px;
    margin-bottom: 60px;
    margin-right: 10px;
    margin-left: 10px;
}

.section-3-buttons {
  display: block;
  position: absolute;
  width: 400px;
  height: 50px;
  right: 10px;
  margin-top: 30px;
}


input[type="checkbox"] {
  display: block;
  margin-bottom: 10px;
}


textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.label-container input[name="first-name"],
.label-container input[name="lastname"],
.label-container input[name="email"] {
  width: 400px;
}

.checkbox-container {
  margin-top: 10px;
}

.checkbox-container label {
  display: block;
  margin-bottom: 5px;
}

.checkbox-container input[type="checkbox"] {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}


.motive-container:nth-child(3) {
  margin-top: 20px;
}

.motive-container:nth-child(3) label {
  display: block;
  margin-bottom: 5px;
}



       /*section 4*/

.section-4 {
  width: 600px; 
  margin-left: 250px;
  height: 900px;
  margin-top: -20px;
  border-bottom: 2px solid #D9D9D9;

}

.section-4 h2 {
  margin-top: 10px;
  margin-bottom: 50px;
  margin-left: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #2F3058;
}

.section-4 p {
  margin-bottom: 40px;
  font-size: 15px;
  color: #6D6D6D;
}

.our-thoughts {
  position: relative;
  width: 1100px;
}

.our-thoughts h3 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #2F3058;
}

.our-thoughts-box1 {
  position: absolute;
  width: 780px;
  right: 30px;
  top: 50px;
}


.our-thoughts-box2 {
  position: absolute;
  width: 880px;
  right: -70px;
  top: 80px;
}


.our-thoughts-box3 {
  position: absolute;
  width: 380px;
  bottom: -45px;
  left: 280px;
}


.img-2 {
  position: absolute;
  width: 400px;
  top: 120px;
  right: 40px;
}

.we-are-family {
  position: relative;
  width: 1000px;
  height: 150px;
  margin-top: 20px;
}

.we-are-family h3 {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  color: #2F3058;
}

.we-are-family p {
  position: absolute;
  width: 650px;
  bottom: 0;
}



        /*section 5*/


.section-5 h2 {
  margin-top: 100px;
  margin-bottom: 50px;
  margin-left: 250px;
  font-size: 30px;
  font-weight: bold;
  color: #373867;
}

.info-box {
  display: inline-block;
  width: 350px;
  height: 150px;
  margin-bottom: 60px;
  margin-right: -150px;
  margin-left: 250px;
  border: 2px solid #46A37C;
  border-radius: 5px;
}

.info-box:last-child {
  position: relative;
  bottom: 30px;
}

.info-box h3 {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #373867;
}

.info-box ol li {
  margin-left: 40px;
  margin-bottom: 5px;
  font-size: 15px;
}


         /*Footer*/


footer {
    width: 1300px;
    height: 100px;
    margin-left: 1px;
    padding-top: 50px;
    background-color: #2C2C3A;
    text-align: center;
}

footer p {
    color: #46A37C;
}

footer a img {
  width: 30px;
  height: 30px;
    padding-right: 25px;
    padding-bottom: 10px;
}

  
  