<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/sign-up.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <title>Mega Rocket GYM</title>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="menu">
          <img src="../../assets/Icono-8.png" alt="menu-icon" />
        </div>
        <div class="logo-1">
          <img src="../../assets/Logo.png" alt="Logo MegaRocket" />
        </div>
        <div class="branding">
          <img src="../../assets/MR.png" alt="Logo MegaRocket 2" />
        </div>
      </div>
    </header>
    <main>
    <div class="container-main">
    <h1 class="main-title">Sing Up</h1>
    <form action="">
      <div class="back-button">
        <a class="back-button" href="../views/index.html"
          ><img src="../../assets/Icono-7.png" alt=""
        /></a>
      </div>
      <h2 class="title">Register</h2>
      <div class="form-container">
      <div class="label-container">
        <label for="name"></label>
        <input type="text" name="name" placeholder="Name" />
      </div>
      <div class="label-container">
        <label for="name"></label>
        <input type="text" name="lastname" placeholder="Last Name" />
      </div>
      <div class="label-container">
        <label for="Document"></label>
        <input type="Document" name="Document" placeholder="Document" />
      </div>
      <div class="label-container">
        <label for="Date-of-birth"></label>
        <input type="Date-of-birth" name="Date-of-birth" placeholder="Date-of-birth-(dd/mm/aaaa)" />
      </div>
      <div class="label-container">
        <label for="Phone-number"></label>
        <input type="Phone-number" name="Phone-number" placeholder="Phone-number" />
      </div>
      <div class="label-container">
        <label for="Address"></label>
        <input type="Address" name="Address" placeholder="Address" />
      </div>
      <div class="label-container">
        <label for="State"></label>
        <input type="State" name="State" placeholder="State" />
      </div>
      <div class="label-container">
        <label for="Zip"></label>
        <input type="Zip" name="Zip" placeholder="Zip" />
      </div>
      <div class="label-container">
        <label for="email"></label>
        <input type="email" name="email" placeholder="Email" />
      </div>
      <div class="label-container">
        <label for="Password"></label>
        <input type="Password" name="Password" placeholder="Password" />
      </div>
      <div class="label-container">
        <label for="Repeat-password"></label>
        <input type="Repeat-password" name="Repeat-password" placeholder="Repeat-password" />
      </div>
    </div>
      <button id="button-signup">Sign Up</button>
    </form>
  </main>
  <footer>
    <div>
      <a href="#"><img src="../../assets/Icono-tw.png" alt="Twitter" /></a>
      <a href="#"><img src="../../assets/Icono-ig.png" alt="Instagram" /></a>
      <a href="#"><img src="../../assets/Icono-fb.png" alt="Facebook" /></a>
    </div>
    <p>Copyright &copy; 2023 MegaRocket SA. All rights reserved.</p>
  </footer>
  </body>
</html>
