* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial";
}

body {
  display: flex;
  background-color: #f4f4f4;
}

h2 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #2f3058;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
  color: #373867;
}

h1 span {
  color: #616180;
}

h2 span {
  font-weight: 900;
}

p {
  font-size: 0.9rem;
}

aside {
  display: none;
  position: fixed;
  align-items: center;
  width: 220px;
  height: 100%;
  background-color: #373867;
}

.img-aside {
  align-self: center;
  width: 7rem;
  height: 4rem;
  margin-top: 34px;
}

aside li {
  border-bottom: 2px solid #c4c4c4;
}

.list {
  margin: 1.6rem 0 0 0;
}

.list li a {
  display: flex;
  justify-content: flex-start;
  font-size: 25px;
  font-weight: 700;
  color: #c4c4c4;
  padding: 1rem;
}

li.contact > a {
  color: #49a37b;
}

.contact .contact-subtitle {
  color: #49a37b;
  font-size: 15px;
  font-weight: 700;
  padding: 0.5rem 0 1rem 0.5rem;
}

#navmain .contact ul li {
  color: #c4c4c4;
  font-size: 10px;
  font-weight: 700;
  padding: 0.5rem;
}

#navmain .contact ul li img {
  width: 15px;
  height: 15px;
}

header {
  position: fixed;
  width: 100%;
  height: 110px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 8rem;
}

.section-1,
.section-2,
.section-3,
.section-4 {
  width: 80%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: #d9d9d9 2px solid;
}

.main-title {
  padding-bottom: 1.5rem;
  font-size: 2.2rem;
  font-weight: 700;
  color: rgba(47, 48, 88, 1);
}

.main-title span {
  color: #616180;
}

.image-1 {
  max-width: max-content;
  width: 100%;
  height: auto;
  border-radius: 1.4rem;
}

.section-1 h2 {
  font-weight: 600;
  padding: 2rem 0 2rem 0;
}

.section-1-container {
  width: 90%;
}

.section-1 p {
  font-weight: 400;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.75);
}

.section-2 {
  margin-top: 1rem;
}

.section-2 h2 {
  padding-bottom: 1.9rem;
}

.section-2-boxes {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2rem;
}

.section-2-boxes img {
  width: 91.8px;
  margin-right: 1rem;
}

.section-2 p {
  font-weight: 700;
  font-size: 0.9rem;
  color: rgba(151, 151, 151, 1);
}

.section-3 h2 {
  padding: 1.3rem 0 2.5rem 0;
}

.label-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.section-3 p {
  padding: 20px 0 20px 0;
  font-weight: 500;
  font-size: 0.9rem;
  color: rgba(55, 56, 103, 1);
}

input[type="text"],
input[type="email"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px grey;
  margin-top: 5px;
}

textarea {
  width: 200%;
  height: 7rem;
}

.section-3-buttons {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

button[type="submit"] {
  width: 8rem;
  height: 2.5rem;
  background-color: #373867;
  color: white;
  font-weight: bold;
  border: 1px solid;
  border-radius: 5px;
}

button {
  width: 7rem;
  height: 2rem;
  margin: 20px 0;
  background-color: white;
  font-weight: bold;
  border: 1px solid;
  border-radius: 5px;
  color: #373867;
}

label {
  font-size: 0.875rem;
  font-weight: 300;
  color: #373867;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.message {
  padding: 20px 0 20px 0;
  font-weight: 500;
  font-size: 14px;
  color: rgba(55, 56, 103, 1);
}

.section-4 img {
  width: 10rem;
  height: 8rem;
}

.section-4 h2 {
  margin: 2.5rem 0 2.5rem 0;
}

.section-4 p {
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 16px;
  margin-bottom: 1rem;
  color: rgba(109, 109, 109, 1);
}

.section-4 h3 {
  margin: 20px 0 20px 0;
}

.our-thoughts-box {
  display: flex;
}

.our-thoughts-text {
  padding-left: 10px;
}

.family-box {
  display: flex;
  flex-direction: row-reverse;
}

.section-5 {
  width: 80%;
  margin-bottom: 2rem;
}

.section-5 h2 {
  margin: 2.5rem 0 2.5rem 0;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-box {
  align-self: center;
  height: 9rem;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: 2px solid #49a37b;
}

.info-box h3 {
  margin-top: 7px;
  margin-left: 15px;
  margin-bottom: 8px;
  font-size: 0.9rem;
  font-weight: bold;
  color: #373867;
}

.info-box ol li {
  margin-left: 40px;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 18.75px;
  color: #373867;
}

@media only screen and (min-width: 600px) {
  h3 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 2.1rem;
  }

  p {
    font-size: 1rem;
  }

  label {
    font-size: 1rem;
  }

  .section-1 {
    display: flex;
    flex-direction: column;
  }

  .main-title {
    font-size: 3.7rem;
    font-weight: 700;
  }

  .image-1 {
    width: 38rem;
    height: 30rem;
  }

  textarea {
    width: 34rem;
    height: 12.5rem;
  }

  .section-3-buttons {
    display: flex;
    justify-content: flex-end;
  }
}

@media only screen and (min-width: 1024px) {
  aside {
    display: flex;
    flex-direction: column;
  }

  header {
    margin-left: 11rem;
  }

  .main {
    margin-left: 190px;
  }

  .section-1 {
    display: flex;
  }

  .image-1 {
    padding-left: 1rem;
    width: 400px;
    height: 350px;
  }

  .image-container {
    display: flex;
    flex-direction: row-reverse;
  }

  .main-title {
    display: inline;
    align-self: flex-start;
    padding: 0;
    font-size: 2.5rem;
  }

  .section-2 .column {
    width: 60%;
    display: flex;
    padding: 1.25rem;
  }

  .section-2-boxes {
    padding-right: 7rem;
  }

  .contact-us {
    display: flex;
    flex-direction: column;
  }

  form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-self: center;
    width: 100%;
    margin: 0;
  }

  .section-3-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
  }

  .label-container {
    width: 45%;
  }

  .section-3-buttons {
    display: flex;
    justify-content: flex-end;
    width: 90%;
  }

  textarea {
    width: 450%;
    height: 9rem;
  }

  .section-4 {
    width: 70%;
  }
  .section-5 {
    flex-direction: column;
  }

  .info {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .info-box {
    width: 46%;
    height: 8rem;
  }
}
