/*HEADER*/



header {
    position: fixed;
    top: 0;
    background: #373867;
    padding-top: 30px;
    width: 600px;
    min-height: 84px;
}

.container {
    display: flex;
    align-items: flex-start;
}


.menu {
    width: 16px;
    padding-left: 20px;
    margin-right: 100px;
}

.logo-1 {
    width: 43.9px;
    height: 43.03;
}

.branding {
   width: 400px;
   height: 34.03px;
   padding: 10px 0 0 40px;
}




/*IPAD VERSION*/

@media only screen and (min-width: 768px) {
    header {
        width: 834px;
    }
    
    
    .menu {
        margin-right: 0;
        margin-top: 10px;
    }

    .logo-1 {
        padding-left: 80px;
        width: 50px;
        height: 53.94px;
    }
    
    .branding {
        margin-top: 5px;
        width: 800.82px;
        height: 45.91px;
        
    }

}

    


    /* DESKTOP*/

    @media only screen and (min-width: 900px) {

    header {
        width: 1130px;
        max-width: 1269px;
        margin-left: 160px;
        min-height: 116px;
        display: flex;
        align-items: center;
      }
      
      
    
      .menu {
        padding-left: 5%;
      }
    
      .logo-1 {
        width: 68px;
        height: auto;
        padding-left: 2%;
      }
    
      .branding {
        width: auto;
        margin: 0;
        padding-left: 2%;
      }
    }
  
    
    
    
    
 