* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial";
}

body {
  display: flex;
  background-color: #f4f4f4;
}

h2 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #2f3058;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
  color: #373867;
}

h1 span {
  color: #616180;
}

h2 span {
  font-weight: 900;
}

p {
  font-size: 0.9rem;
}

@media only screen and (min-width: 600px) {
  h3 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 2.1rem;
  }

  p {
    font-size: 1rem;
  }

  label {
    font-size: 1rem;
  }
}
